<h1>Sign In!</h2>

<form action="<%= session_url %>" method="POST">
  <input type="hidden" 
    name="authenticity_token" 
    method="<%= form_authenticity_token %>"/>

  <label for="username" >Username</label>
  <input id="username" type="text" name="user[username]" value="" />
  <br>

  <label for="password">Password</label>
  <input id="password" type="password" name="user[password" value="" />
  <br>

  <input type="submit" value="Submit"/>

</form>